.container-credit-movie{
  position: fixed;
  top: 0;
  background-color: rgba(7,10,13);
  width: 100%;
  height: 100vh;
}
.showcredit{
  display: block;
}
.hidden{
  display: none;
}
.credit-portada{
  border:1px solid #fff
}